/* General Styles */

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
}

/* Header Styles */

#header {
    background-color: #1F2937;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#header h2 {
    font-size: 24px;
    color: #F9FAF8;
    padding: 15px;
}

#header ul {
    gap: 20px;
}

#header li {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: lighter;
    padding: 15px;
}

/* Body1 Styles */

#body1 {
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.column {
    display: flex;
    flex-direction: column;
}

.column h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.column p:not(#placeholder) {
    font-size: 18px;
    font-weight: lighter;
    color: #E5E7EB;
}

.column button {
    border-radius: 5px;
    background-color: #3882F6;
    color: #F9FAF8;
    max-width: 150px;
    padding: 1px 5px;
}

#placeholder {
    background-color: #6d747d;
    color: white;
    padding: 50px 75px;
    
}