/* General Styles */

* {
    padding: 0;
    margin: 0;
    border: solid red 2px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
}

/* Header Styles */

#header {
    background-color: #1F2937;
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 100%;
    justify-content: space-between;
}

#header h2 {
    font-size: 24px;
    color: #F9FAF8;
}
#header li {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: lighter;
    /* padding: 15px; */
}

.column {
    display: flex;
    flex-direction: column;
    padding: 25px;
    height: 100%;
    width: 50%;
}

.column h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.column p:not(#placeholder) {
    font-size: 18px;
    font-weight: lighter;
    color: #E5E7EB;
}

.column button {
    border-radius: 5px;
    background-color: #3882F6;
    color: #F9FAF8;
    max-width: 110px;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    padding: 1px 5px;
}

#placeholder {
    background-color: #6d747d;
    color: white;
    padding: 50px 75px;

}

.c1 h2, .c1 h1, .c1 p, .c1 button {
    margin-bottom: 10px;
}

.c2 {
    display: flex;
    align-items: flex-end;
}

.c2 ul {
    margin-bottom: 60px;
}